
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width:100%;
    /* border: 1px solid black; */
}

/*General Styles*/

html {
    font-size: 62.5%;
}

body {
    font-size:1.6rem;
    line-height: 1.5;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #ecd9c6;
}

span {
    font-weight: bolder;
}


h1 {
    font-size: 8rem;
    font-family: 'Pangolin', cursive;
    text-align: center;
    padding: auto;
    padding-top: 2%;
}

/*header section styles*/

.links {
    padding: 0.5%;
    padding-bottom: 3%;
    width: 40%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}   

nav a{
    text-decoration: none;
    border: 20% solid;
    padding: 7px 12px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a{
    font-size: 2rem;
    color: White;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
}


.home {
    background-color: #cc9966;
    color: wheat;
}

.about {
    background-color:#c68c53;
    color: wheat;
}

.contact {
    background-color:#bf8040; 
    color: wheat;
}

.projects {
    background-color:#ac7339;
    color: wheat;
}

/*Middle Parahrap*/

h2 {
    font-size: 4rem;
    font-family: 'Pangolin', cursive;
    text-align: center;
    padding: 2%;
}

.aboutme {
    background-color: #f9f2ec;
    margin: auto;
    padding: 2%;
    text-align: center;
    width: 80%;
}


/* Background Image*/
.bg-img {
    background-image:url('../images/computer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 40vh;
}
/*Gallery of photos*/

.photos{
    margin: 1.5%;
}

.images{
    width: 18%;
    height: 25%;
}

.gallery {
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

.images p {
    font-size: 2rem;
    color: #805500;
}

.cta button {
    height: 30px;
    background-color: #604020;
    color: #f9f2ec;
    border-radius: 5px;
    font-size: 1.5rem;
}

/*Footer*/

footer{
    background-color: burlywood;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

footer div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}


.fa {
    padding: 20px;
    width: 50px;
    text-align: center;
}

.footernav a {
    margin: 10%;
}

@media(max-width:800px) {
    .links {
        flex-direction: column;
    }

    .aboutme {
        width: 100%;
        text-align: center;
    }

    .gallery {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .images{
        width: 45%;
        height: 45%;
    }

    .images p {
        text-align: center;
        margin: 3% 0;
        font-size: 2.3rem;
    }

    .cta {
        align-items: center;
        text-align: center;
    }
}

@media(max-width:500px){
  .home {
      margin: 2%;
  }

  .about {
    margin: 2%;
}

.contact {
    margin: 2%;
}

.projects {
    margin: 2%;
}

.images p {
    width: 100%;
    font-size: 1.4rem;
}

.button {
    width: 20%;
    height: 10%;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    }

footer {
    flex-direction: column;
    margin: 2% 0;
}
.footernav {
    margin: auto;
    height: 10%;
    width: 30%;
}
    
}








